<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Center</title>
    <style>
        #item_img {
            width: 80px;
            height: 80px;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/useritem">Select</a>
                    </li>
                    {% if loginid %}
                    <li class="nav-item">
                        <a class="nav-link" href="/useritem/cart?loginid={{ loginid }}">Cart</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-sm-9">
                <h2>판매 상품 리스트</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>RegDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in items %}
                        <tr>
                            <td><a href="/useritem/detail?id={{c.id}}"><img src="/img/{{ c.imgname }}" id="item_img"
                                        class="img-thumbnail"></a></td>
                            <td>{{c.id}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.price}}</td>
                            <td>{{c.regdate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>